.App {
  text-align: center;
  padding: 30px;
  background: linear-gradient(35deg, red, yellow);
  height: 100vh;
}
input {
  border: none;
  border-bottom: 2px solid black;
  margin: 20px;
  background: none;
  padding: 10px;
  font-size: 20px;
}
input:focus {
  border: none;
  box-shadow: none;
  background: none;
}
input::placeholder{
  color: aliceblue;
}
Weather {
  color: aliceblue;
}
button {
  padding: 10px;
  border-radius: 10px;
  color: rebeccapurple;
  border: 2px solid black;
  background-color: transparent;
  font-size: 20px;
  width: 100px;
}
.fas {
  font-size: 100px;
  }
i{
  color: aliceblue;
}
